@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #111;
  --gray: #808080;
  --light-gray: #d3d3d3;
  --white: #fff;
  --green: #008000;
}

/* NAV */
.navbar {
  padding: 1.2em 3.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background-color: var(--black);
}

/* NAV LOGO WOULD GO HERE */

.search-input {
  padding: 1.2em;
  display: flex;
  align-items: center;
  background-color: var(--gray);
  border-radius: 0.3rem;
}

.search-input input {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--white);
}

.search-input input::placeholder {
  color: var(--light-gray);
}

.search-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.nav-links ul {
  list-style: none;
}

.nav-links li {
  font-size: 1.2rem;
  border-bottom: 0.2rem solid var(--green);
  cursor: pointer;
}

/* MAIN */

/* HER0 */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-gray);
  background-color: var(--black);
}

.hero h3 {
  margin-right: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

/* SLIDER */
.slider {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  background: url("./assets/slider-bg.avif");
  overflow: hidden;
}

.slider-wrap {
  width: 500vw;
  display: flex;
  transition: all 1s ease-in-out;
}

.slide {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  z-index: 1;
}

.slide-bg {
  width: 46.8rem;
  height: 46.8rem;
  position: absolute;
  border-radius: 50%;
  /* background-color: var(--green); */
}

.slide h1 {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 3.4rem;
  font-weight: 700;
  color: var(--white);
  z-index: 1;
}

.slide h2 {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 3.4rem;
  font-weight: 400;
  color: var(--white);
  border-bottom: 2px solid var(--gray);
  z-index: 1;
}

.slide button {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.2em;
  transition: 0.2s ease-in-out;
  color: var(--white);
  background-color: var(--gray);
  border: none;
  border-radius: 0.3rem;
  z-index: 1;
  cursor: pointer;
}

.slide button:hover {
  color: var(--gray);
  background-color: var(--white);
}

.slide:nth-child(1) .slide-bg {
  background-color: #369e62;
}
.slide:nth-child(2) .slide-bg {
  background-color: #663399;
}
.slide:nth-child(3) .slide-bg {
  background-color: #008080;
}
.slide:nth-child(4) .slide-bg {
  background-color: #6495ed;
}
.slide:nth-child(5) .slide-bg {
  background-color: #7c7350;
}

/* FEATURES */
.features {
  padding: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature img {
  width: 3.2rem;
  height: 3.2rem;
}

.feature span {
  margin: 1.2em;
  font-size: 1.2rem;
  font-weight: 600;
}
.feature p {
  width: 50%;
  height: 6.2rem;
  color: var(--gray);
}
